<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Comercios</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <span *ngIf="ios">Filtrar</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateSchedule()" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list #scheduleList [hidden]="shownSessions === 0">
    <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">
      <ion-item-divider sticky>
        <ion-label>
          <!-- {{group.time}} -->
          A
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let session of group.sessions" #slidingItem [attr.track]="session.tracks[0] | lowercase" [hidden]="session.hide">

        <!-- <div routerLink="/app/tabs/schedule/session/{{session.id}}"> -->
        <div routerLink="/app/tabs/schedule/session/{{session.id}}">
          <ion-card class="speaker-card">
            <ion-card-header>
              <ion-img [src]="'http://via.placeholder.com/500x201/'"></ion-img>
            </ion-card-header>
            <ion-card-content>
              <ion-row class="ion-justify-content-between">
                <ion-col size="auto" class="title">
                  <p>Nombre del Comercio</p>
                </ion-col>
                <ion-col size="auto" class="stars">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-half"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-item-sliding>

    </ion-item-group>
  </ion-list>

  <ion-list-header [hidden]="shownSessions > 0">
    No hay resultados
  </ion-list-header>

  <!-- 
    <ion-item-sliding *ngFor="let session of group.sessions" #slidingItem [attr.track]="session.tracks[0] | lowercase"
        [hidden]="session.hide">
        <ion-item routerLink="/app/tabs/schedule/session/{{session.id}}">
         
        </ion-item>
        <ion-item-options>
          <ion-item-option color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
            Favorito
          </ion-item-option>
          <ion-item-option color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')"
            *ngIf="segment === 'favorites'">
            Remove
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    
 -->
</ion-content>